*{
    margin:0;
    padding:0;
}
.title{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:white;
    height:100px;
    border: 10px;
}
.title .logo{
    display: flex;
    align-items: center;
}
.title .logo img{
    height:auto;
    width:100px;
}
.title .logo .logo-text{
    font:bold;
    color: cornflowerblue;
}
.title .nav-button ul{
    width: 100px;
    color:cornflowerblue;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: end;
    list-style: none;
    padding: 10px;
}
