        nav{
            height: 80px;
            width: 100%;
            background-color:black;
            outline:  1px solid ;
            display: flex;
            justify-content: end;

        }
        nav ul{
            width: 100px;
            color: rgb(70, 11, 11);
            text-decoration: none;
            font: 1em impact;
            display: flex;
            justify-content: space-around;
            align-items: end;
            list-style: none;
        }
        nav a{
            margin-right: 900px;

        }
        scope{
            height: 700px;
            width: 1500px;
            background-color: beige;
        }
        box1{
            height: 550px;
            width: 400px;
            background-color:red;
            top: 17%;
            left:15%;
            position: relative;
            border-radius: 20px;
        }
        box1 img{
            height: 550px;
            width:400px;
            position: absolute;
            top: 0;
            border-radius: 20px;
            z-index: 0;
            filter: blur(1px);

        }
        box1 text{
            position: relative;
            z-index:10;
            text-align: center;
            top: 15%;
            color: aqua;
            fo
        }
        box2{
            height 250px;
            width 250px;
            background-color: azure;
            top: 30%;
            position: absolute;
            left: 45%;
            border-radius: 20px;
        }
        box3{
            height: 250px;
            width: 250px;
            background-color: azure;
            top: 30%;
            position: absolute;
            left: 65%;
            border-radius: 20px;
        }
        box4{
            height: 250px;
            width: 250px;
            background-color: azure;
            top: 70%;
            position: absolute;
            left: 45%;
            border-radius: 20px;
        }
        box5{
            height: 250px;
            width: 250px;
            background-color: azure;
            top: 70%;
            position: absolute;
            left: 65%;
            border-radius: 20px;
        }
        regform{
            height: 700px;
            width: 1500px;
            background-color: black;
        }
        @media (max-width:768px) {
            
            titlebar{
                position: relative;
            }titlebar a{
                position: relative;
                flex-direction: column;
                position: absolute;
            }
        }